<title>Vehicle Number Plate Detection/about</title>

{% extends 'back.html' %}
{% block body %}<br>

<h2 style="text-align: center"> About the Vehicle Number Plate Detection </h2>

<h4 class="navbar navbar-light" style="background-color: #e3f2fd;"> Vehicle Number Plate Detection </h4>
<p> Built a deep learning based model for <b>Vehicle Number Plate Detection System</b> that would be able to get an input as vehicle image and provide the result as extracted number from vehicle number plate.</p>
<h8 class="navbar navbar-light" style="background-color: #e3f2fd;"> In the Project, It is shown that how to process image data, detect objects inside the image and create bounding box for the detected object. Inception-ResNet-v2 transfer learning Tensorflow model used for this project, OpenCV for this project in order to identify the license number plates and the python PyTesseract for the characters and digits extraction from the plate.  </h8>


<style>
body {
  background-image: url('https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

{% endblock body %}