<title>Vehicle Number Plate Detection/contact</title>
{% extends 'back.html' %}
{% block body %}<br>

<h2 class="navbar navbar-light" style="background-color: #e3f2fd;">Contact</h2>
<p>Please contact at the email: vkas.rajpurohit5226@gmail.com</p>

<style>
body {
  background-image: url('https://img.freepik.com/free-vector/blue-abstract-gradient-wave-vector-background_53876-111548.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

{% endblock body %}